<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <AppSettings>
    
  </AppSettings>
  <connectionStrings>
    <add name="WineDatabase" connectionString="Data Source=.;Initial Catalog=Wine_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>