<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="DatabaseServer" value="LEON\THESQLS"/>
    <add key ="Database" value="Wine_DB"/>
  </appSettings>
  <connectionStrings>
    <add name="WineDatabase" connectionString="metadata=res://*/qbankModel.csdl|res://*/qbankModel.ssdl|res://*/qbankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=qbank;Persist Security Info=True;User ID=**;Password=****;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>